:root {
    --clr-light: white;
    --link-hover-clr: #e7e7e7;
    --link-clr: blue;

    --foreground: black;
    --background: var(--clr-light);
}

.darkmode {
    --link-hover-clr: #444444;
    --link-clr: #0199ff;

    --foreground: white;
    --background: #2b2b33;
}

body {
    font-family: "Noto Sans JP", -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
        sans-serif;
    background-color: var(--background);
    color: var(--foreground);
    transition: 0.8s;
}

p {
    line-height: 1.7;
}

/* Begin navigation bar styles */

.navbar {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    color: white;
    z-index: 98;
    box-shadow: 0px 4px 4px gray;
}

.navbar__logo a {
    color: white;
    text-decoration: none;
    font-size: 2em;
    padding: 0.45rem;
    font-weight: bold;
    transition: 300ms;
}

.navbar__logo span {
    font-family: "Courier New", monospace;
    font-size: 1.2em;
    color: #ff6601;
}

.navbar__logo a:hover {
    background-color: #494949;
}

.nav__links ul {
    margin: 0;
    padding: 0;
    display: flex;
}

.nav__links li {
    list-style: none;
    transition: 0.3s;
}

.nav__links li a {
    text-decoration: none;
    font-size: x-large;
    color: white;
    padding: 0.75rem;
    display: inline-block;
}

.nav__links li:hover,
.nav__links a:focus,
.nav__links span:focus {
    background-color: #494949;
    outline: none;
}

.nav__links li p {
    display: none;
}

#dark-mode-toggle {
    cursor: pointer;
    font-size: x-large;
    padding: 0.75rem;
    display: inline-block;
}

.navbar__menu-btn {
    cursor: pointer;
    position: absolute;
    right: 0;
    padding: 0.75rem;
    display: none;
    font-size: x-large;
    transition: 0.3s;
}

.navbar__menu-btn:hover {
    background-color: #555;
}

/* End navigation bar styles */

/* Begin article link styles */

.thumbnails {
    width: 100px;
    margin-right: 2px;
    float: left;
    margin-right: 6px;
    padding-top: 10px;
}

.links {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
    color: black;
    font-weight: bold;
    color: var(--foreground);
    margin-bottom: 25px;
    border: 1px solid var(--foreground);
    border-radius: 10px;
    margin: 8px 10px;
    padding: 0px 5px;
}

.links:hover,
.links:focus {
    background-color: var(--link-hover-clr);
    outline: none;
}

.link__description {
    color: gray;
    font-weight: normal;
}

/* End article link styles */

/* Begin footer styles */

footer {
    font-weight: 300;
    text-align: center;
    padding: 1em;
    margin: -8px;
    color: #d6d6d6;
    margin-top: 100px;
    font-size: small;
    background-color: #333333;
}

footer a {
    color: #1ea5ff;
}

footer #footer__links a {
    text-decoration: none;
    margin: 0 5px;
    color: white;
    font-size: x-large;
    transition: transform 0.3s;
}

footer #footer__links a:hover,
footer #footer__links a:focus {
    transform: scale(1.25);
}

/* End footer styles */

h1#animation {
    text-align: center;
    font-size: 75pt;
    color: var(--foreground);
    text-shadow: var(--foreground) 0px 1px 2px;
    transition: color 0.8s, text-shadow 0.8s;
}

#animation div:first-child {
    margin-top: 45px;
    color: #ff6601;
    font-family: "Courier Prime", monospace;
    font-size: 105pt;
    text-shadow: #ff6601 0px 2px 3px;
}

noscript {
    height: 100%;
    width: 95%;
    text-align: center;
    background-color: var(--background);
    color: var(--foreground);
    display: flex;
    place-items: center;
    flex-direction: column;
    position: fixed;
    z-index: 999;
}

a {
    color: var(--link-clr);
}

@media only screen and (max-width: 505px) {
    h1#animation {
        font-size: 45pt;
        margin-top: 60px;
    }

    #animation div:first-child {
        font-size: 65pt;
    }
}

@media only screen and (max-width: 360px) {
    h1#animation {
        font-size: 40pt;
        margin-top: 70px;
    }

    #animation div:first-child {
        font-size: 55pt;
    }

    .navbar__menu-btn {
        display: flex;
    }

    .nav__links {
        display: none;
        width: 100vw;
    }

    .nav__links li p {
        display: inline;
    }

    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .nav__links ul {
        flex-direction: column;
        width: 100vw;
    }

    .nav__links li a,
    .nav__links li #dark-mode-toggle {
        padding: 0.5rem;
        width: 100vw;
        font-size: large;
    }

    .nav__links.active {
        display: flex;
    }

    .navbar__logo a:hover {
        background-color: none;
    }
}
