<!-- Noscript -->
<noscript>
    <h1>JavaScript is required for this site to work.<br>
        Please enable JavaScript on your browser.</h1><br>
    (We don't use JavaScript to track you!)
</noscript>
<!-- Loader -->
<div class="loader-container" style="background-color: var(--background);">
    <div class="loader"></div>
</div>
<!-- Navigation Bar -->
<nav class="navbar" data-aos="fade-down" data-aos-delay="250">
    <div class="navbar__logo"><a href="/"><span>Develo</span>Hub</a></div>
    <span class="navbar__menu-btn"><i class="fas fa-bars fa-fw"></i></span>
    <div class="nav__links">
        <ul>
            <li aria-label="Home" title="Home"><a href="/" tabindex="-1"><i class="fas fa-home fa-fw"></i>
                    <p> Home</p>
                </a></li>
            <li aria-label="GitHub Repository" title="GitHub Repository"><a
                    href="https://github.com/opensourze/develohub" target="_blank" rel="noopener noreferrer"
                    tabindex="-1"><i class="fab fa-github fa-fw"></i>
                    <p> GitHub Repository</p>
                </a></li>
            <li aria-label="Toggle Dark Mode" title="Toggle Dark Mode"><span id="dark-mode-toggle" tabindex="-1"><i
                        class="fas fa-moon fa-fw"></i>
                    <p> Dark Mode</p>
                </span></li>
        </ul>
    </div>
</nav>