<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description"
        content="DeveloHub makes web development and privacy simpler. This is your place for guides and explanations that make things simple.">
    <!-- Stylesheets -->
    <link rel="stylesheet" href="/css/home.css" type="text/css">
    <link rel="stylesheet" href="/css/loader.css" type="text/css">
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Courier+Prime&family=Noto+Sans+JP:wght@300;400&display=swap"
        rel="stylesheet" type="text/css">
    <!-- Libraries -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/aos@next/dist/aos.min.css" type="text/css">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"
        integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
    <!-- Netlify Identity -->
    <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
    <!-- Font Awesome icon kit -->
    <script src="https://kit.fontawesome.com/53ec121b0c.js" crossorigin="anonymous" defer></script>
    <!-- Icons -->
    <link rel="apple-touch-icon" sizes="180x180" href="/icons/apple-touch-icon.png">
    <link rel="mask-icon" href="/icons/safari-pinned-tab.svg" color="#ff6601">
    <link rel="icon" type="image/png" sizes="32x32" href="/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/icons/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <meta name="msapplication-TileColor" content="#ff6601">
    <meta name="theme-color" content="#ff6601">
    <title>Home | DeveloHub</title>
</head>

<body>
    {% include top.html %}

    <!-- Animated Logo -->
    <h1 id="animation" data-aos-anchor-placement="top-bottom">
        <div data-aos="fade-zoom-in" data-aos-duration="2300" data-aos-delay="500">Develo</div>
        <div data-aos="fade-down" data-aos-delay="500" data-aos-duration="2300" data-aos-anchor-placement="top-bottom">
            Hub</div>
    </h1>

    <p>Welcome to DeveloHub.<br>
        DeveloHub makes web development and privacy simpler.<br>
        This is your place for guides and explanations that make things simple.</p>

    {{ content }}

    {% include footer.html %}

    <script src="https://cdn.jsdelivr.net/npm/aos@next/dist/aos.min.js"></script>
    <script src="/script.js"></script>
    <script>
        if (window.netlifyIdentity) {
            window.netlifyIdentity.on("init", user => {
                if (!user) {
                    window.netlifyIdentity.on("login", () => {
                        document.location.href = "/admin/";
                    });
                }
            });
        }
    </script>
</body>

</html>